@model  string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Menu Para teste da empresa IP3
        <br />


        @Html.Raw(@Model)
    </div>


</body>
</html>
